USE [master]
GO
/****** Object:  Database [ListDishes]    Script Date: 22.06.2024 1:36:06 ******/
CREATE DATABASE [ListDishes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ListDishes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ListDishes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ListDishes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ListDishes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ListDishes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ListDishes]
GO
/****** Object:  Table [dbo].[Dishes]    Script Date: 22.06.2024 1:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishes](
	[idDishes] [int] IDENTITY(1,1) NOT NULL,
	[nameDishes] [varchar](50) NOT NULL,
	[readinessDishes] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDishes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 22.06.2024 1:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[idIngr] [int] IDENTITY(1,1) NOT NULL,
	[nameIngr] [varchar](50) NOT NULL,
	[proteinsIngr] [float] NOT NULL,
	[fatsIngr] [float] NOT NULL,
	[carbohydratesIngr] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idIngr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 22.06.2024 1:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[idIngr] [int] NOT NULL,
	[idDishes] [int] NOT NULL,
	[weight] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idIngr] ASC,
	[idDishes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dishes] ON 

INSERT [dbo].[Dishes] ([idDishes], [nameDishes], [readinessDishes]) VALUES (1, N'123456789', NULL)
INSERT [dbo].[Dishes] ([idDishes], [nameDishes], [readinessDishes]) VALUES (2, N'2222', NULL)
SET IDENTITY_INSERT [dbo].[Dishes] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([idIngr], [nameIngr], [proteinsIngr], [fatsIngr], [carbohydratesIngr]) VALUES (1, N'курица', 23.600000381469727, 1.8999999761581421, 0.40000000596046448)
INSERT [dbo].[Ingredients] ([idIngr], [nameIngr], [proteinsIngr], [fatsIngr], [carbohydratesIngr]) VALUES (2, N'курица', 23.600000381469727, 1.8999999761581421, 0.40000000596046448)
INSERT [dbo].[Ingredients] ([idIngr], [nameIngr], [proteinsIngr], [fatsIngr], [carbohydratesIngr]) VALUES (3, N'помидор', 1.1000000238418579, 0.20000000298023224, 3.7999999523162842)
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD FOREIGN KEY([idDishes])
REFERENCES [dbo].[Dishes] ([idDishes])
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD FOREIGN KEY([idIngr])
REFERENCES [dbo].[Ingredients] ([idIngr])
GO
USE [master]
GO
